{
  "env": {
    "node": true,
    "jquery": true,
    "browser": true
  },
  "rules": {
    "no-shadow": 0,
    "key-spacing": 0,
    "no-unused-vars": 0,
    /*eol-last - enforce newline at the end of file, with no multiple empty lines*/
    "eol-last": 2
  },
  "globals": {
    "Modernizr": false,
    "cancelAnimationFrame()": true
  }
}
